/* ================= Global Styles ================= */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* ================= Header ================= */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #300202;
  }
  
  nav a {
    font-family: 'Lora', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 27px;
    padding: 10px;
    margin: 10px 20px;
    color: white;
    display: inline-block;
    transition: transform 0.5s ease, color 0.5s ease;
    transform-origin: center bottom;
  }
  
  nav a:hover {
    color: rgb(207, 18, 18);
    transform: scale(1.1);
  }
  
  .momo-sticker {
    margin-left: 20px;
    margin-top: 20px;
    transition: transform 0.5s ease;
  }
  
  .momo-sticker:hover {
    transform: scale(1.1);
  }
  
  .media {
    margin-left: 0px;
    display: flex;
    align-items: center;
  }
  
  .media a {
    text-decoration: none;
    margin: 5px;
    transition: transform 0.5s ease;
  }
  
  .media a img {
    transition: transform 0.5s ease;
  }
  
  .media a:hover img {
    transform: scale(1.1);
  }
  
  /* ================= Hero Section ================= */
  .hero-section {
    position: relative;
    width: 100%;
    /* height: 500px; */
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/content/food/hero.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2;
    transform: scale(1.1);
    transition: none;
    will-change: transform, filter;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  
  .hero-text {
    position: relative;
    color: white;
    text-align: center;
    max-width: 800px;
    padding: 0 20px;
    margin-bottom: 60px;
  }
  
  .hero-text h1 {
    font-size: 68px;
    margin-bottom: 10px;
    font-family: 'LekhanaRegular', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .hero-text .tagline {
    font-size: 28px;
    line-height: 1.4;
    font-family: 'Lora', serif;
    color: #f2f2f2;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  .hero-text .button {
    display: inline-block;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Lora', sans-serif;
    transition: background-color 0.2s ease, transform 0.2s ease;
  }
  
  .hero-text .button:hover {
    background-color: rgb(207, 18, 18);
    transform: translateY(-3px);
  }
  
  /* ================= Our Food Section ================= */
  .our-food-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #1a1a1a;
    color: #fff;
    position: relative;
  }
  
  .our-food-section h1 {
    font-family: 'Lora', serif;
    font-size: 1.4em;
    line-height: 1.6;
    color: #dcdcdc;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .food-description {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #dcdcdc;
    margin: 0 auto 50px;
    max-width: 800px;
    text-align: justify;
    padding: 0px 10px;

  }
  
  /* ---------------- Carousel (Food Section) ---------------- */
  .carousel-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 0 auto 50px;
    overflow: hidden;
    justify-content: space-between;
  }
  
  .carousel {
    width: 100%;
  }
  
  .carousel-container {
    overflow: hidden;
    border-radius: 8px;
    min-height: 250px;
  }
  
  .carousel-track {
    display: flex;
    column-gap: 20px;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }
  
  .carousel-track img {
    flex: 0 0 calc((100% - 45px) / 3);
    width: calc((100% - 40px) / 3);
    height: 260px;
    object-fit: cover;
    display: block;
  }


  
  /* Carousel Buttons */
  .carousel-btn {
    position: static;
    transform: none;
    background-color: rgba(207, 18, 18, 0.9);
    color: #fff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 10;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    height: 70px;
  }
  
  .carousel-btn:hover {
    background-color: rgba(160, 14, 14, 0.9);
  }
  
  .prev-btn {
    margin-right: 20px;
  }
  
  .next-btn {
    margin-left: 20px;
  }
  
  .left-btn {
    margin-right: 20px;
    margin-top: 70px;
  }
  
  .right-btn {
    margin-left: 20px;
    margin-top: 70px;
  }
  
  /* Generic Button */
  .button {
    display: inline-block;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Lora', sans-serif;
    transition: background-color 0.2s ease, transform 0.2s ease;
  }
  
  .button:hover {
    background-color: rgb(207, 18, 18);
    transform: translateY(-3px);
  }
  
  /* New About Section Styles */
.about-section {
    padding: 40px 20px;
    background-color: #300202;
    color: #dcdcdc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .about-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    gap: 0px;
    margin: 0px 40px;
  }
  
  /* Text and image blocks share equal space */
  .about-text,
  .about-image {
    flex: 1;
    padding: 50px;
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: justify;

  }

  .about-text h2{
    font-family: 'Lora', serif;
    font-size: 1.4em;
    line-height: 1.6;
    color: #dcdcdc;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  /* Ensure images are responsive and well-contained */
  .about-image img {
    width: 350px;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
  }

  .about-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .hr-line {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #7e150d, transparent);
    margin: 20px 15px;
}
  
  /* ================= Reviews Section ================= */
  .reviews-section {
    background-color: #1a1a1a;
    padding: 40px 20px;
    text-align: center;
  }
  
  .reviews-section h1 {
    font-family: 'Lora', serif;
    font-size: 1.4em;
    line-height: 1.6;
    color: #dcdcdc;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .reviews-carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
  }
  
  .reviews-carousel {
    width: 80%;
    overflow: hidden;
    position: relative;
  }
  
  .reviews-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .review-item {
    flex: 0 0 calc(27% - 20px);
    background-color: #111;
    padding: 4px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .review-stars {
    color: #FFD700;
    font-size: 1.8em;
    margin-bottom: 4px;
    margin-top: 16px;
  }
  
  .review-text {
    font-family: 'Lora', serif;
    font-size: 1.1em;
    line-height: 1.6;
    color: #dcdcdc;
    margin-bottom: 20px;
  }
  
  .review-author {
    font-family: 'Lora', serif;
    font-weight: bold;
    color: rgb(207, 18, 18);
    font-size: 1em;
    margin-top: auto;
  }
  
  /* ================= Info Section ================= */
  .info-section {
    display: flex;
    flex-direction: row;
    background-color: #111;
    padding: 40px 20px 0px;
    justify-content: center;
  }
  
  .info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 80px;
  }
  
  .info-box {
    background-color: #000;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 4px;
    text-align: left;
    color: #fff;
    flex: 1;
    min-width: 200px;
    max-width: 240px;
    height: 80px;
    margin: 0 auto;
    font-family: 'Lora', serif;
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 30px;
  }
  
  .icon-wrapper {
    margin-top: 15px;
    margin-right: 10px;
  }
  
  .icon-wrapper img {
    width: 1.6rem;
    height: auto;
    display: block;
    margin-bottom: 0.8rem;
  }
  
  .icon {
    color: #f00;
    font-size: 1.6rem;
  }
  
  .icon-fix {
    display: flex;
    flex-direction: row;
  }
  
  .info-box h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #fff;
    font-family: 'Lora', sans-serif;
    letter-spacing: 0.5px;
  }
  
  .info-box p {
    color: #ccc;
    line-height: 1.5;
    margin-bottom: 0.8rem;
    font-family: 'Lora', serif;
    font-size: 14px;
  }
  
  .info-box a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.2s ease;
    font-family: 'Lora', serif;
    font-size: 14px;
  }
  
  .info-box a:hover {
    color: #eee;
    text-decoration: none;
  }
  
  /* ================= Map Section ================= */
  .map-section {
    width: 100%;
    background-color: #111;
    padding: 60px 0;
    display: flex;
    justify-content: center;
  }
  
  .map-container {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  }
  
  .map-container iframe {
    border: none;
    filter: brightness(0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  
  /* ================= Disabled Buttons ================= */
  .carousel-btn:disabled {
    background-color: rgba(90, 8, 8, 0.5) !important;
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .reviews-carousel-wrapper .carousel-btn:disabled {
    background-color: rgba(90, 8, 8, 0.5) !important;
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  /* ================= Footer ================= */
  footer {
    background-color: #300202;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    font-family: 'Lora', serif;
    font-size: 0.95em;
    letter-spacing: 0.5px;
    border-top: 1px solid rgba(207, 18, 18, 0.2);
    margin-top: 0;
  }
  
  footer p {
    width: auto;
    text-align: center;
    margin: 0;
    color: #e0e0e0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  /* ================= Font Faces ================= */
  @font-face {
    font-family: 'LekhanaRegular';
    src: url('/font-family/Lekhana\ Regular.woff2') format('woff2'),
         url('/font-family/Lekhana\ Regular.woff') format('woff'),
         url('/font-family/Lekhana\ Regular.otf') format('opentype');
    font-display: swap;
  }
  
  
@font-face {
  font-family: 'Lora';
  src: url('/font-family/Lora-VariableFont_wght.woff2') format('woff2'),
       url('/font-family/Lora-VariableFont_wght.woff') format('woff'),
       url('/font-family/Lora-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}
  
  /* ================= Navigation Overlay & Mobile Menu ================= */
  
  /* Mobile Menu Icon (hidden by default, visible on mobile) */
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  /* Navigation Overlay Container */
  .nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(48, 2, 2, 0.95);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    padding-top:  0px;
  }
  
  /* When active, show overlay with slide-in animation */
  .nav-overlay.active {
    display: flex;
    animation: slideIn 0.5s forwards;
  }
  
  /* When closing, apply slide-out animation */
  .nav-overlay.inactive {
    animation: slideOut 0.5s forwards;
    display: flex;
  }
  
  .nav-overlay nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .nav-overlay nav a {
    display: block;
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin: 10px 0;
    transition: color 0.3s ease;
  }
  
  .nav-overlay nav a:hover {
    color: #ffb766;
  }
  
  /* Close Button in Overlay */
  .close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
  
  /* Prevent background scrolling when overlay is active */
  body.no-scroll {
    overflow: hidden;
  }
  
  /* Slide-in and Slide-out animations */
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  @media (max-width: 768px) {
    /* ----- Existing Mobile Adjustments ----- */
    header > nav {
        display: none;
    }
  
    header {
        position: static;
        width: 100%;
        padding: 0px 10px;
        height: 70px;
    }
  
    .momo-sticker {
        display: none;
    }
  
    .menu-icon {
        display: block;
        margin-left: auto;
        transition: transform 0.3s ease;
        cursor: pointer;
    }
  
    .hero-section {
        min-height: 50vh;
    }
  
    .hero-text h1 {
        font-size: 3em;
    }
  
    .hero-text .tagline {
        font-size: 1.3em;
    }
  
    .hero-text a {
        font-size: 1em;
    }
  
    .our-food-section {
        padding: 20px;
    }
  
    .carousel-wrapper {
        overflow: hidden;
        width: 280px;
        margin: 0 auto;
    }
  
    .carousel-container {
        width: 100%;
        height: auto;
    }
  
    .carousel-track {
        display: flex;
        overflow-x: scroll !important;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        column-gap: 0;
    }
  
    .carousel-track img {
        width: 320px;
        height: 280px;
        flex-shrink: 0;
        margin: 0;
        scroll-snap-align: center;
    }
  
    .carousel-track {
      display: flex;
      gap: 10px;
      overflow-x: auto;  /* horizontal scroll if needed */
      /* or set a max-width, etc. */
    }
    
    .carousel-track img {
      width: auto;       /* let the width scale based on image ratio */
      height: 280px;     /* fix the height so each row is uniform */
      object-fit: cover; /* will crop sides if images are too wide */
      flex-shrink: 0;    /* prevents images from shrinking below their height */
    }
    


    .carousel-btn {
        display: none;
    }
  
    .view-menu-btn {
        font-size: 1em;
        margin-top: 25px;
    }
  
    /* ----- About Section Mobile Adjustments ----- */
    .about-section {
        padding: 10px;
    }
  
    .about-block {
        flex-direction: column;
        text-align: center;
    }
  
    .about-text,
    .about-image {
        padding: 22px;
    }
  
    .about-block.restaurant-info .about-text {
        order: 1;
    }
    .about-block.restaurant-info .about-image {
        order: 2;
    }
    .about-text h2 {
        text-align: center;
    }
    
    /* Reviews Section Adjustments */
  .reviews-carousel-wrapper {
    overflow: hidden;
    width: 90%;
  }

  .reviews-track {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;       
    -webkit-overflow-scrolling: touch; 
  }

  .review-item {
    flex: 0 0 90%;         
    margin: 0 auto;
    scroll-snap-align: center;
    padding: 10px;
  }

  .carousel-btn {
    display: none;          
  }

  .more-reviews-link{
    margin-top: 0px;
  }

  .info-section {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 0;
  }

  .info-container {
    flex-direction: column;
    gap: 10px; 
    width: 100%;
    align-items: center;
  }

  .info-box {
    width: 90%;
    max-width: 100%;
    height: auto;  
    margin: 10px auto;
  }

  .text-fix h2{
    font-size: 20px;
  }

.text-fix p, .text-fix a{
    font-size: 18px;
}


.map-section {
    padding: 30px 0;
    display: flex;
    justify-content: center;
  }
  
  .map-container {
    width: 95%;
    height: 300px;
  }

  }
  
  @media (min-width: 490px) and (max-width: 768px) {
    .about-section {
        padding: 20px;
      }
      .about-block {
        flex-direction: row;
        text-align: left;
      }
      .about-text,
      .about-image {
        padding: 20px;
      }
      .about-block.restaurant-info .about-text,
      .about-block.restaurant-info .about-image {
        order: 0;
      }
      .about-text h2 {
        text-align: left;
      }
  }
  

  @media (min-width: 768px) and (max-width: 1043px) {
    .map-container {
      width: 95%;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 768px) and (max-width: 946px) {
    .info-container {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
    .info-box {
      flex: 0 0 calc((100% - 20px) / 3);
      max-width: calc((100% - 20px) / 3);
      margin: 0;
    }
  }
  

  .about-block {
    max-width: 1120px;
    margin: 0 auto;
  }
  
  .hr-line {
    max-width: 1120px;
    margin: 20px auto;
  }
 
  @media (max-width: 768px) {

    .reviews-carousel-wrapper {
      max-width: 100% !important;
      width: 100% !important;
      margin: 0 !important;    
    }
  
  
    .reviews-carousel {
      width: 100% !important;
    }
  
    
    .review-item {
      flex: 0 0 90%;      
      margin: 0 auto;
      padding: 25px;
    }
  }
  
 

  .carousel-wrapper {
    position: relative; /* so .swipe-indicator can be absolutely positioned */
  }
  
  /* The swipe indicator container */
  .swipe-indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: 1.4rem;
    opacity: 0;           /* start invisible */
    pointer-events: none; /* don't block user swipes */
    animation: fadeInOut 3s ease forwards;
    /*  - 3s total: fade in, wait, fade out  */
  }
  
  /* The arrows themselves */
  .swipe-indicator .arrow {
    display: inline-block;
    animation: arrowSlide 3s infinite alternate ease-in-out;
  }
  
  /* Optional text, if you add a .swipe-text span */
  .swipe-indicator .swipe-text {
    font-size: 1rem;
    align-self: center;
    animation: none; /* no sliding on text */
  }
  
  /* Keyframes: Arrows slide gently left/right */
  @keyframes arrowSlide {
    0%   { transform: translateX(0);   }
    100% { transform: translateX(6px); }
  }
  
  /* Keyframes: fade in and out */
  @keyframes fadeInOut {
    0%   { opacity: 0; }
    15%  { opacity: 1; }  /* fade in by ~0.45s */
    85%  { opacity: 1; }  /* stay visible */
    100% { opacity: 0; }  /* fade out near 3s */
  }
  